version: "{build}"

os: Windows Server 2012
platform:
  - x64

environment:
  matrix:
    - ruby_version: "21"

clone_folder: c:\projects\chefdk
clone_depth: 1
skip_tags: true
branches:
  only:
    - master

install:
  - SET PATH=C:\Ruby%ruby_version%\bin;%PATH%
  - echo %PATH%
  - ruby --version
  - gem update --system
  - gem --version
  - gem install bundler --no-ri --no-rdoc
  - bundler --version
  - set BUNDLE_GEMFILE=C:\projects\chefdk\chef-dk-gemset\Gemfile

build_script:
  - bundle install

test_script:
  - bundle exec rspec
